.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232536;
  padding-top: 28px;
  padding-bottom: 28px;
}
.header__list {
  display: flex;
  align-items: center;
  column-gap: 32px;
}